{% extends "base.html" %} {% load static %} {% block title %}Carrinho: {{ object.parcial_price }}{% endblock %} {% block content %}
<h1>Tickets</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Preço</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for cart in object_list %}
        <tr>
            <td>{{ cart.id }}</td>
            <td>{{ cart.parcial_price }}</td>
             <td>
                <a href="{% url 'cart:cart_view' cart.id %}">view</a>
            </td>
            <td>
                <a href="{% url 'cart:cart_edit' cart.id %}">edit</a>
            </td>
            <td>
                <a href="{% url 'cart:cart_delete' cart.id %}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'cart:cart_new' %}">New</a>

{% endblock content %}