{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
  {% url 'spectacle:spectacle-create' as url %}
  {% if request.path == url %}
    {% trans "Novo Espetáculo" %}
   {% else %}
    {% trans "Editar Espetáculo" %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% if form.date.errors %}
        <div class="alert alert-danger col" role="alert">{{ form.date.errors }}</div>
      {% endif %}
    </div>
    {% if object %}
      <h2>{% trans 'Editar Espetáculo' %}</h2>
    {% else %}
      <h2>{% trans 'Novo Espetáculo' %}</h2>
    {% endif %}
    <form method='post' class="mt-3">
      {% csrf_token %}
      <div class="row">
        <div class="form-group col">
          <label>{% trans 'Nome' %}*</label>
          {% if object.name %}
            <input class="form-control" type="text" name="name" maxlength="100" required id="id_name" value="{{ object.name }}"/>
            <small class="text-muted">{% trans 'Insira o nome do espetáculo' %}</small>
          {% else %}
            <input class="form-control" type="text" name="name" maxlength="100" required id="id_name"/>
            <small class="text-muted">{% trans 'Insira o nome do espetáculo' %}</small>
          {% endif %}
        </div>
      </div>
      <div id="div_id_spectacle_type" class="form-group">
      <label for="id_spectacle_type" class="col-form-label  requiredField">
          {% trans 'Tipo do Espetáculo' %}<span class="asteriskField">*</span>
      </label>
      <div class="">
        <select name="spectacle_type" class="select form-control" required="" id="id_spectacle_type">
        {% if not object.get_spectacle_type_display %}
          <option value="" selected="">---------</option>
          <option value="FILME">{% trans 'Filme' %}</option>
          <option value="SHOW">{% trans 'Show' %}</option>
          <option value="PECA">{% trans 'Peça Teatral' %}</option>
          <option value="NA">{% trans 'N/A' %}</option>
        {% else %}
          {% for x, y in object.SPECTACLE_CHOICES %}
            {% if object.spectacle_type != x %}
              <option value="{{ x }}">{{ y }}</option>
            {% else %}
              <option value="{{object.spectacle_type}}" selected="">{{object.get_spectacle_type_display}}</option>
            {% endif %}
          {% endfor %}
        {% endif %}
        </select>
      </div>
      <br>

      <div id="div_id_status" class="form-group">
      <label for="id_status" class="col-form-label  requiredField">
          {% trans 'Status do Espetáculo' %}<span class="asteriskField">*</span>
      </label>
      <div class="">
        <select name="status" class="select form-control" required="" id="id_status">
        {% if not object.get_status_display %}
          <option value="" selected="">---------</option>
          <option value="PREESTREIA">{% trans 'Pré-Estréia' %}</option>
          <option value="EMCARTAZ">{% trans 'Em Cartaz' %}</option>
          <option value="LANCAMENTO">{% trans 'Lançamento' %}</option>
          <option value="FORACARTAZ">{% trans 'Fora de Cartaz' %}</option>
          <option value="EMBREVE">{% trans 'Em Breve' %}</option>
        {% else %}
          {% for x, y in object.STATUS_CHOICES %}
            {% if object.status != x %}
              <option value="{{ x }}">{{ y }}</option>
            {% else %}
              <option value="{{object.status}}" selected="">{{object.get_status_display}}</option>
            {% endif %}
          {% endfor %}
        {% endif %}

        </select>
      </div>
      <br>

      <div class="">
        <label class="col" for="id_duration">{% trans 'Duração do Espetáculo' %}*</label>
        <div>
          {% if object.duration %}
            <input class="form-control" type="number" name="duration" step="1" required id="id_duration"  value="{{ object.duration }}"/>
          {% else %}
            <input class="form-control" type="number" name="duration" step="1" required id="id_duration"  value="0"/>
          {% endif %}
          <small class="text-muted">{% trans 'Insira a duração do espetáculo em minutos' %}</small>
        </div>
      </div>

      <div id="div_id_poster" class="form-group">
        <label for="id_poster" class="col-form-label ">
          {% trans 'Poster' %}
        </label>
        <div class="">
          <input type="file" name="poster" class="clearablefileinput" id="id_poster" accept=".png, .jpg, .jpeg, .gif">
          <small id="hint_id_poster" class="form-text text-muted">{% trans 'Poster do Espetáculo' %}.</small>
         </div>
      </div>

      <div id="div_id_classification" class="form-group">
      <label for="id_classification" class="col-form-label  requiredField">
          {% trans 'Classificação Indicativa' %}<span class="asteriskField">*</span>
      </label>
      <div class="">
        <select name="classification" class="select form-control" required="" id="id_classification">
        {% if not object.get_classification_display %}
          <option value="" selected="">---------</option>
          <option value="LIVRE">{% trans 'Livre' %}</option>
          <option value="10ANOS">{% trans '10 Anos' %}</option>
          <option value="12ANOS">{% trans '12 Anos' %}</option>
          <option value="14ANOS">{% trans '14 Anos' %}</option>
          <option value="16ANOS">{% trans '16 Anos' %}</option>
          <option value="MAIORES18">{% trans 'Maiores de 18 Anos' %}</option>
        {% else %}
          {% for x, y in object.CLASSIFICATION_CHOICES %}
            {% if object.classification != x %}
              <option value="{{ x }}">{{ y }}</option>
            {% else %}
              <option value="{{object.classification}}" selected="">{{object.get_classification_display}}</option>
            {% endif %}
          {% endfor %}
        {% endif %}
        </select>
      </div>
      <br>
      <button type="submit" class="btn btn-success float-right">{% trans 'Submit' %}</button>
    </form>
    <a href="{% url 'spectacle:spectacle-list' %}"><button type="submit" class="btn btn-danger mr-1 float-right">{% trans 'Cancelar' %}</button></a>
  </div>
{% endblock %}
