{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
  {% url 'spectacle:movie-create' as url %}
  {% if request.path == url %}
    {% trans "Novo Filme" %}
   {% else %}
    {% trans "Editar Filme" %}
  {% endif %}
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      {% if form.date.errors %}
        <div class="alert alert-danger col" role="alert">{{ form.date.errors }}</div>
      {% endif %}
    </div>
    {% if object %}
      <h2>{% trans 'Editar Filme' %}</h2>
    {% else %}
      <h2>{% trans 'Novo Filme' %}</h2>
    {% endif %}
    <form method='post' class="mt-3">
    {% csrf_token %}
      <div>
        <div>
          <label for="id_spectacle" class="col-form-label  requiredField">
          {% trans 'Espetáculo Relacionado' %}<span class="asteriskField">*</span>
          </label>
          <div class="">
            <select name="spectacle" class="select form-control" required_id="id_spectacle" required="">
            {% if object %}
              <option value="{{ object.id }}" selected="">{{ object.name }}</option>
            {% else %}
              <option value="" selected="">---------</option>
              {% for spectacle in spectacles%}
                <option value="{{ spectacle.id }}">{{ spectacle.name }}</option>
              {% endfor %}
            {% endif %}
            </select>
          </div>

        </div>
        <div class="">
          <label for="id_synopsis">{% trans 'Sinopse' %}*</label>
          {% if object %}
            <textarea class="form-control" name="synopsis" cols="40" rows="5" maxlength="500" id="id_synopsis" required>{{ object.synopsis }}</textarea>
            <small class="text-muted">{% trans 'Entre com a sinopse do filme' %}</small>
          {%else%}
            <textarea class="form-control" name="synopsis" cols="40" rows="5" maxlength="500" id="id_synopsis" required></textarea>
            <small class="text-muted">{% trans 'Entre com a sinopse do filme' %}</small>
          {% endif %}
        </div>
        <div class="row">
          <div class="form-group col">
            <label>{% trans 'Diretor' %}*</label>
            {% if object %}
              <input class="form-control" type="text" name="diretor" maxlength="255" required id="id_diretor" value="{{ object.diretor }}"/>
              <small class="text-muted">{% trans 'Insira o diretor do filme' %}</small>
            {% else %}
              <input class="form-control" type="text" name="diretor" maxlength="100" required id="id_name"/>
              <small class="text-muted">{% trans 'Insira o diretor do filme' %}</small>
            {% endif %}
          </div>
        </div>
        <div class="">
          <label for="id_cast">{% trans 'Elenco' %}*</label>
          {% if object %}
            <textarea class="form-control" name="cast" cols="40" rows="5" maxlength="500" id="id_cast" required>{{ object.cast }}</textarea>
            <small class="text-muted">{% trans 'Entre com o elenco do filme' %}</small>
          {%else%}
            <textarea class="form-control" name="cast" cols="40" rows="5" maxlength="500" id="id_cast" required></textarea>
            <small class="text-muted">{% trans 'Entre com o elenco do filme' %}</small>
          {% endif %}
        </div>
        <div class="row">
          <div class="form-group col">
            <label>{% trans 'Produtor' %}*</label>
            {% if object %}
              <input class="form-control" type="text" name="producer" maxlength="255" required id="id_producer" value="{{ object.producer }}"/>
              <small class="text-muted">{% trans 'Insira o produtor do filme' %}</small>
            {% else %}
              <input class="form-control" type="text" name="producer" maxlength="100" required id="id_producer"/>
              <small class="text-muted">{% trans 'Insira o produtor do filme' %}</small>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label>{% trans 'Escritor' %}*</label>
            {% if object %}
              <input class="form-control" type="text" name="writer" maxlength="255" required id="id_writer" value="{{ object.writer }}"/>
              <small class="text-muted">{% trans 'Insira o escritor do filme' %}</small>
            {% else %}
              <input class="form-control" type="text" name="writer" maxlength="100" required id="id_writer"/>
              <small class="text-muted">{% trans 'Insira o escritor do filme' %}</small>
            {% endif %}
          </div>
        </div>
        <div id="div_id_gender" class="form-group">
        <label for="id_gender" class="col-form-label  requiredField">
            {% trans 'Gênero' %}<span class="asteriskField">*</span>
        </label>
        <div class="">
          <select name="gender" class="select form-control" required="" id="id_gender">
            {% if not object.get_gender_display %}
              <option value="" selected="">---------</option>
              <option value="ANIMACAO">{% trans 'Animação' %}</option>
              <option value="ACAO">{% trans 'Ação' %}</option>
              <option value="BIOGRAFIA">{% trans 'Biografia' %}</option>
              <option value="COMEDIA">{% trans 'Comédia' %}</option>
              <option value="DOCUMENTARIO">{% trans 'Documentário' %}</option>
              <option value="DRAMA">{% trans 'Drama' %}</option>
              <option value="FICCAO">{% trans 'Ficção Científica' %}</option>
              <option value="MUSICAL">{% trans 'Musical' %}</option>
              <option value="NA">{% trans 'N/A' %}</option>
              <option value="ROMANCE">{% trans 'Romance' %}</option>
              <option value="SUSPENSE">{% trans 'Suspense' %}</option>
              <option value="TERROR">{% trans 'Terror' %}</option>
            {% else %}
              {% for x, y in object.MOVIE_GENDER_OPTIONS %}
                {% if object.gender != x %}
                  <option value="{{ x }}">{{ y }}</option>
                {% else %}
                  <option value="{{object.gender}}" selected="">{{object.get_gender_display}}</option>
                {% endif %}
              {% endfor %}
            {% endif %}
          </select>
        </div>
        <div class="row">
          <div class="form-group col">
            <label>{% trans 'Trailer' %}*</label>
            {% if object %}
              <input class="form-control" type="text" name="trailer" maxlength="255" required id="id_trailer" value="{{ object.trailer }}"/>
              <small class="text-muted">{% trans 'Insira o link do trailer do filme' %}</small>
            {% else %}
              <input class="form-control" type="text" name="trailer" maxlength="100" required id="id_trailer"/>
              <small class="text-muted">{% trans 'Insira o link do trailer do filme' %}</small>
            {% endif %}
          </div>
        </div>
      </div>
      </div>
    <br>
    </form>
    <a href="{% url 'spectacle:spectacle-list' %}"><button type="submit" class="btn btn-danger mr-1 red darken-3 white-text lighten-1">{% trans 'Cancelar' %}</button></a>
    <button type="submit" class="btn btn-success right red lighten-3 white-text lighten-1">{% trans 'Submit' %}</button>
  </div>
  <br>
<main>
{% endblock content %}
