{% extends "base.html" %} 
{% load static i18n %} 

{% block title %}Combo {{ object.name }}
{% endblock %} 

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Combo</h3>
        <b>Nome: {{ object.name }}</b><br>
        {% if object.description %}
        <b>Descrição: </b>{{ object.description }}<br>
        {% endif %}
        <b>Preço: </b>{{ object.price }}<br>
        <br>

        <div class="col-sm-12">
            <div class="row"><h5>Produtos:</h5></div>
        </div>

        {% for item in products %}
          <div class="row">
            <div class="col-sm-12">
              <b>Nome: </b>{{ item.product.name }}<br>
              {% if product.description %}
              <b>Descrição: </b>{{ item.product.description }}<br>
              {% endif %}
              <b>Preço: </b>{{ item.product.price }}<br>         
              <b>Quantidade: </b>{{ item.quantity }}<br>
              <a href="{% url 'bomboniere:combo:product_quantity' object.id item.product.id %}">mudar a quantidade do produto</a>
            </div>
          </div>
          <br>
        {% endfor %}
        <td>
          <a href="{% url 'bomboniere:combo:product_select' object.id %}">Mudar os produtos do combo</a><br><br>
        </td>
      </div>
      <br>
      <a href="{% url 'bomboniere:combo:combo_list' %}"><button type="button" class="btn btn-danger mr-1 red darken-3 white-text lighten-1 right">{% trans 'Voltar' %}</button></a>
    </div>
  </div>
</main>
{% endblock content %}
