{% extends "base.html" %} 
{% load static i18n %} 

{% block title %}Produto: {{ object.name }}
{% endblock %} 

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      	<h3>Produto</h3>
        <b>Nome: {{ object.name }}</b><br>
        {% if object.description %}
        <b>Descrição: </b>{{ object.description }}<br>
        {% endif %}
        <b>Preço: </b>{{ object.price }} reais<br>
        </div>
      </div>   
    </div>
	</div>
</main>
{% endblock content %}