{% extends "base.html" %} 
{% load static i18n %} 

{% block title %}Estabelecimento: {{ object.date }}
{% endblock %} 

{% block content %}
<main>
	<div class="container">
		<h2>Estabelecimento</h2>
		<div class="row">
			<div class="col-sm-12">
				<form method="post">{% csrf_token %} {{ form.as_p }}
            <br><br>
						<a href="{% url 'establishment:establishment-list' %}"><button type="button" class="btn btn-danger mr-1 red darken-3 white-text lighten-1">{% trans 'Cancelar' %}</button></a>
				    <button type="submit" value="Submit" class="btn btn-danger mr-1 right green darken-3 white-text lighten-1">Salvar</button></a>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock content %}
