{% extends "base.html" %} 
{% load static i18n %} 

{% block title %}Ingresso {{ object.date }}
{% endblock %} 

{% block content %}
<main>
	<div class="container">
		<h2>Ingresso</h2>
		<div class="row">
			<div class="col-sm-12">
				<form method="post">{% csrf_token %} {{ form.as_p }}
						<a href="{% url 'ticket:ticket_list' %}"><button type="button" class="btn btn-danger mr-1 green darken-3 white-text lighten-1">{% trans 'Cancelar' %}</button></a>
				    <button type="submit" value="Submit" class="btn btn-danger mr-1 right red darken-3 white-text lighten-1">Novo Ingresso</button></a>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock content %}