{% extends "base.html" %} 
{% load static i18n %} 

{% block title %}Ingresso {{ object.date }}
{% endblock %} 

{% block content %}
<main>
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	    	<h3> Ingresso </h3>
	      <b>Tipo: </b>{{ object.ticket_type }}
	      {% if object.session.time %}
	      <b><p>Horário: </b>{{ object.session.time }}</p>
	      <b><p>Local: </b>{{ object.session.place }}</p>
	      <b><p>Preço: </b>{{ object.price }} reais</p>
	      <b><p>Assento: </b>{{ object.seat }}</p>
	      {% endif %}
	    </div>
	    <a href="{% url 'ticket:ticket_list' %}"><button type="button" class="btn btn-danger mr-1 red darken-3 white-text lighten-1 right">{% trans 'Voltar' %}</button></a>
	  </div>
	</div>
</main>
{% endblock content %}