{% load static i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Ticketflix{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block extra_js %}
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script>
      $(document).ready(function(){
        $('select').formSelect();
      });
      </script>
    {% endblock %}

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection">

    
    <!-- This file stores project-specific CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    
    
    {% endblock %}

  </head>

  <body>
    <nav class="black" role="navigation">
      <div class="nav-wrapper container">
        {% if request.user.is_authenticated %}
          <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light white-text" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
          </ul>
            <ul class="right hide-on-med-and-down">
            <li><a class="white-text" href="{% url 'users:detail' request.user.username  %}">{% trans "Minha conta" %}</a></li>
          </ul>
        {% else %}
          <ul class="right hide-on-med-and-down">
            <li><a class="white-text" id="sign-up-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a class="white-text" id="log-in-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
          </ul>
        {% endif %}
        <a id="logo-container" href="{% url 'home' %}" class="brand-logo white-text">
          <img src="{% static 'images/ticketflix.png' %}" alt="Logo" style="height: 55px; padding-top: 10px;">
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="">Carrinho</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="{% url 'spectacle:spectacle-list' %}">Espetáculos</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="{% url 'session:session_list' %}">Sessões</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text" href="{% url 'ticket:ticket_list' %}">Ingressos</a></li>
        </ul>
        

        <ul id="nav-mobile" class="sidenav">
          <li><a href="{% url 'about' %}">Sobre</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons" style="color: red;">menu</i></a>
      </div>
    </nav>

    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}
    </div> <!-- /container -->

    {% block content %}
    {% endblock content %}


    {% block footer %}
    <footer class="page-footer-base black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Ticketflix</h5>
          <p class="grey-text text-lighten-4">Uma plataforma de venda de ingressos e visualização de atrações, no que diz respeito à três estabelecimentos base: Teatros, cinemas e casas de show.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="white-text" href="{% url 'spectacle:spectacle-list' %}">Espetáculos</a></li>
            <li><a class="white-text" href="{% url 'ticket:ticket_list' %}">Ingressos</a></li>
            <li><a class="white-text" href="{% url 'bomboniere:combo:combo_list' %}">Bombonier</a></li>
            <li><a class="white-text" href="">Estabelecimentos</a></li>
            <li><a class="white-text" href="">Carrinho</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Políticas</h5>
          <ul>
            <li><a class="white-text" href="#!">Segurança e Privacidade</a></li>
            <li><a class="white-text" href="#!">Meia-Entrada</a></li>
            <li><a class="white-text" href="#!">Termo de Uso</a></li>
            <li><a class="white-text" href="{% url 'about' %}"">Sobre</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <a class="brown-text text-lighten-3" href="http://materializecss.com">Made by: Materialize</a>
      </div>
    </div>
  </footer>
  {% endblock footer %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <!-- place project specific Javascript in this file -->
      
      <script src="{% static 'js/project.js' %}"></script>
      <script src="{% static 'js/init.js' %}"></script>
      

    {% endblock javascript %}
  </body>
</html>
 
