{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block content %}
<main>
	<div class="container">
	  <div class="row">
	    <div class="col-md-6 offset-md-3">
				<h1>O que é o Ticketflix?</h1>

				<p>Uma plataforma de venda de ingressos e visualização de atrações, no que diz respeito à três estabelecimentos base: Teatros, cinemas e casas de show. Nosso site foi pensado com a capacidade de expansão para outros tipos de atrações e estabelecimentos.
				Dessa forma, o objetivo da ferramenta consiste em prover ao usuário uma maneira confortável de adquirir entradas para os eventos na sua cidade e/ou região. </p>
			</div>
		</div>
	</div>
</main>
{% endblock content %}